@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Yaldevi", sans-serif;
}

span {
  color: #fc5c65;
  font-weight: 900;
}

footer {
  background: #000;
  padding: 30px 0;
  /* position: sticky; */
  bottom: 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.rights-text {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  
  .left-col {
    text-align: center;
  }
}
